@model IEnumerable<RemindersHtmx.Data.Reminder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnoozeInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReReminderInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaySchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnoozeInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReReminderInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaySchedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <button hx-get="Reminders/Edit?id=@item.Id" hx-target="#editDialog">Edit</button>
                <button hx-get="Reminders/Details?id=@item.Id" hx-target="#editDialog">Details</button>
                <button hx-get="Reminders/Delete?id=@item.Id" hx-target="#editDialog">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
